img{
    max-width: 100%;
    border-radius: 10px;
}

.content{
    color: white;
    margin-top: 10px;
}

main .container{
    margin-top: 40px;
}

li{
    list-style-type: none;
}

/* HEADER */

.background{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #2c3e50;
}

header .background .container .row .col-6 .content h4,
header .background .container .row .col-6 .content ul li {
    text-transform: uppercase;
}

header .background .container .row .col-6 .content ul {
    display: flex; 
    justify-content: flex-end; 
}

header .background .container .row .col-6 .content ul li {
    display: inline-block;
    font-size: 20px;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.burger{
    text-align: right; 
    color: #858686;
}

.burger i{
    padding: 2px 4px;
    border: 1px solid #858686;
    border-radius: 3px;
}

/* @media screen and (max-width: 576px) {
    
    header .background .container .row .col-6 .content ul{
        display: none;
    }
    .content>i{
        display: block;
    }
} */

/* END HEADER */

/* START UNDER HEADER */

main .green-space{
    background-color: #1abc9c;
}

main .green-space .green-container{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

main .green-space .green-container .container-img{
    width: 180px;
}


/* END UNDER HEADER */

/* START PORTFOLIO */
.black{
    text-align: center;
    text-transform: uppercase;
}

.black .star-container .stella i, .contact-me .green-container .star-container .stella i{
    color: black;
}

.black .star-container .bar, .contact-me .green-container .star-container .bar{
    background-color: black;
}

.spacing{
    margin-bottom: 40px;
}

.img-box{
    margin-top: 20px;
    border: 1px solid none;
    border-radius: 10px;
}
/* END PORFOLIO */

/* START ABOUT */

main .green-container .title h2{
    text-align: center;
}

.star-container{
    width: 100%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.stella{
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.bar{
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 70px;
}

.dwn-btn{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid white;
}

/* END ABOUT */

/* START CONTACT-ME */

.contact-me{
    margin-bottom: 40px;
}

.black{
    color: black;
}

.label-container{
    padding: 0 15%;
}

input[type="text"],
.label-container textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    padding-bottom: 10px;
    border-radius: 0;
}


.send-btn{
    border:0;
    background-color: #1abc9c;
}
/* END CONTACT-ME */

/* FOOTER */

.top-footer{
    background-color: #3a546d;
    width: 100%;
    padding: 0 15% ;

}

.green-text{
    color: #1bb79a;
}

.content h5{
    margin-top: 10%;
    text-align: center;
}

.socials{
    display: flex;
    justify-content: space-around;
}

.socials li i{    
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px; 
}

#facebook{
    padding: 15px 20px;
}

.bottom-footer{
    background-color: #2c3e50;
    padding: 2% 0;
    color: white;
}

.bottom-footer .center-text p{
    margin-bottom: 0;
}
/* END FOOTER */