/* HEADER */

.background{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #2c3e50;
}

header .background .container .row .col-6 .content h4,
header .background .container .row .col-6 .content ul li {
    text-transform: uppercase;
    color: white;  
}

header .background .container .row .col-6 .content ul {
    display: flex; 
    justify-content: flex-end; 
}

header .background .container .row .col-6 .content ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 0 10px;
}

/* UNDER HEADER */

main .lower-header{
    background-color: #1abc9c;
}

main .lower-header .header-container{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

main .lower-header .header-container .container-img{
    width: 180px;
}


